body {
    font-family: "PTSans", sans-serif;
    font-size: 14px;
    color: #333333;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 24px;
}

.title-main {
    font-family: "PTSans", sans-serif;
    font-size: 40px;
    color: #333333;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 42px;
}

.title,
.subtitle,
.title-picking,
.filters-title {
    font-family: "PTSans", sans-serif;
    font-size: 30px;
    color: #333333;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 42px;
}

.subtitle {
    color: #451c20;/*#f7f4f1*/
}

.title-picking,
.filters-title {
    font-size: 24px;
    line-height: 30px;
}

.filters-title {
    font-weight: normal;
}




